.titrespace  {
	color: #FF9900;
	font-weight: bold;
	font-size: 1.2em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	
	vertical-align : text-bottom;
}

.contactbold  { color: #666666; font-weight: bold; font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; text-decoration: none }

body, TD{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.95em;
	color: #333333;
	font-weight: normal;

}

.body_smaller{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .73em;
	
}

.titleone{
	font : normal 2em/normal Verdana;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color : #999999;
}

.subtitleone{
	font : bold normal 1.67em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color : #666666;
}

.subtitletwo{
font : bold normal 1.22em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

a:link{
	font : normal 1em/normal Verdana;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : underline;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color:#000000;
}

a:visited{
	font : normal 1em/normal Verdana;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : underline;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color : #999999;
}

a:hover{
	font : normal 1em/normal Verdana;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : underline;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color:#ff6600;
}

.warning{
	font : italic bold normal 1.22em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #ff6600;
}

.Note{
	font : italic normal 1em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #333333;
}

.STidentifier	{
	font : bold normal 2em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #ff6600;

}

.STsubtitle {
	font : italic normal 1.67em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #ff6600;

}	

.StapprovalDate	{
	font : italic normal 1.22em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #ff6600;

}

.STedition	{
	font : italic normal 1.22em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #ff6600;

}


.STbody {
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.STdescription {
	font : normal 1em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #333333;
}

.STbody a:link {
	font-size: 1.22em;
	font-style: normal;
	font-weight: bold;
	color: #ff6600;
	text-decoration: underline;
}
.STbody a:visited {
	font-size: 1.22em;
	font-style: normal;
	font-weight: bold;
	color: #999999;
	text-decoration: underline;
}
.STbody a:hover {
	font-size: 1.22em;
	font-style: normal;
	font-weight: bold;
	color: #666666;
	text-decoration: underline;
}

.STindexlist_title	{
	font : normal 2em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #ff6600;

}

.STindexlist_subtitle1 {
	font : normal 1.67em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #ff6600;

}	

.STindexlist_subtitle2 {
	font : bold normal 1.67em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #666666;

}	

.STindexlist_subtitle3 {
	font : bold normal 1em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #666666;

}

.TRidentifier	{
	font : bold normal 2em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #B2C0C3;

}

.TRsubtitle {
	font : italic normal 1.67em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #B2C0C3;

}	

.TRapprovalDate	{
	font : italic normal 1.22em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #b2c0c3;

}

.TRedition	{
	font : italic normal 1.22em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #b2c0c3;

}

.TRseperator	{
	font : bold normal normal 12px/normal sans-serif;
	font-family : sans-serif;
	font-size : 12px;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
	height : auto;
	letter-spacing : normal;
	line-height : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}

.TRbody {
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.TRdescription {
	font : normal 1em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #333333;
}

.TRindexlist_title	{
	font : normal 2em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #b2c0c3;

}

.TRindexlist_subtitle1 {
	font : normal 1.67em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #b2c0c3;

}	

.TRindexlist_subtitle2 {
	font : bold normal 1.67em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #666666;

}	

.TRindexlist_subtitle3 {
	font : bold normal 1em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #666666;

}

.TRbody a:link {
	font-size: 1.22em;
	font-style: normal;
	font-weight: bold;
	color: #B2C0C3;
	text-decoration: underline;
}
.TRbody a:visited {
	font-size: 1.22em;
	font-style: normal;
	font-weight: bold;
	color: #999999;
	text-decoration: underline;
}
.TRbody a:hover {
	font-size: 1.22em;
	font-style: normal;
	font-weight: bold;
	color: #ff6600;
	text-decoration: underline;
}

.warning a:link {
	font-style: italic;
	font-weight: bold;
	color: #ff6600;
	text-decoration: underline;
}
.warning a:visited {
	font-style: italic;
	font-weight: bold;
	color: #999999;
	text-decoration: underline;
}
.warning a:hover {
	font-style: italic;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}

.OMbody{
	font : bold normal 1.22em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #3366cc;

}

.AMbody{
	font : bold normal 1.22em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #cc0000;
}

.SMEbody{
	font : bold normal 1.22em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #5c0e81;
}

.NFPbody{
	font : bold normal 1.22em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #66cc33;
}
.OMbody a:link {
	text-decoration: underline;
	font-weight: bold;
	color: #3366cc;


}
.OMbody a:visited {
	text-decoration: underline;
	font-weight: bold;
	color: #3366cc;


}
.OMbody a:hover {
	font-weight: bold;
	color: #3366cc;
	text-decoration: underline;
}

.AMbody a:link {
	text-decoration: underline;
	font-weight: bold;
	color: #cc0000;


}
.AMbody a:visited {
	text-decoration: underline;
	font-weight: bold;
	color: #cc0000;


}
.AMbody a:hover {
	font-weight: bold;
	color: #cc0000;
	text-decoration: underline;
}

.SMEbody a:link {
	text-decoration: underline;
	font-weight: bold;
	color: #5c0e81;


}
.SMEbody a:visited {
	text-decoration: underline;
	font-weight: bold;
	color: #5c0e81;


}
.SMEbody a:hover {
	font-weight: bold;
	color: #5c0e81;
	text-decoration: underline;
}

.NFPbody a:link {
	text-decoration: underline;
	font-weight: bold;
	color: #66cc33;


}
.NFPbody a:visited {
	text-decoration: underline;
	font-weight: bold;
	color: #66cc33;


}
.NFPbody a:hover {
	font-weight: bold;
	color: #66cc33;
	text-decoration: underline;
}

.TCidentifier	{
	font : normal 2em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #999999;

}

.TCsubtitle1	{
	font : bold normal 1.67em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #333333;

}


.Tcofficer	{
	font : bold normal 1em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #333333;

}
.TCsubtitle2 a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
}
.TCsubtitle2 a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #666666;
	text-decoration: underline;
}
.TCsubtitle2 a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ff6600;
	text-decoration: underline;
}
.TCsubtitle2 {

	font : bold normal 1.22em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #333333;
}
.TcofficerEmail {

	font : normal 1em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : underline;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #ff6600;
}
.TCactivecompanies {

	font : italic normal 1em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #cc6600;
}
.TCactivecompanies a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #cc6600;
	text-decoration: underline;
}
.TCactivecompanies a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #666666;
	text-decoration: underline;
}
.TCactivecompanies a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #ff6600;
	text-decoration: underline;
}
.OMtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.67em;
	font-weight: normal;
	color: #3366cc;

}
.AMtitle {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.67em;
	font-weight: normal;
	color: #cc0000;
}
.SMEtitle {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.67em;
	font-weight: normal;
	color: #5c0e81;
}
.NFPtitle {



	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.67em;
	font-weight: normal;
	color: #66cc33;
}
.tables {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
}

.TableHeaders {
	font : bold normal 1.22em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
}
.orangeboldtext {

	color: #FF9900;
	font-weight: bold;
	font-size: 1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	
	vertical-align : text-bottom;
}
.AMlogo {
	border: thin solid #cc0000;
}
.AMlogo a:link {
	border: thin solid #cc0000;
}
.AMlogo a:hover {
	border: thin solid #cc0000;
}
.AMlogo a:visited {
	border: thin solid #999999;
}

.OMlogo {
	border: thin solid #3366cc;
}
.OMlogo a:link {
	border: thin solid #3366cc;
}
.OMlogo a:hover {
	border: thin solid #3366cc;
}
.OMlogo a:visited {
	border: thin solid #999999;
}

.SMElogo {
	border: thin solid #5c0e81;
}
.SMElogo a:link {
	border: thin solid #5c0e81;
}
.SMElogo a:hover {
	border: thin solid #5c0e81;
}
.SMElogo a:visited {
	border: thin solid #999999;
}

.NFPlogo {
	border: thin solid #66cc33;
}
.NFPlogo a:link {
	border: thin solid #66cc33;
}
.NFPlogo a:hover {
	border: thin solid #66cc33;
}
.NFPlogo a:visited {
	border: thin solid #999999;
}

.SPCbody{
	font : bold normal 1.22em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #006600;

}
.SPCtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.67em;
	font-weight: normal;
	color: #006600;
}

.SPClogo {
	border: thin solid #006600;
}
.SPClogo a:link {
	border: thin solid #006600;
}
.SPClogo a:hover {
	border: thin solid #006600;
}
.SPClogo a:visited {
	border: thin solid #006600;
}


.SPCbody a:link {
	text-decoration: underline;
	font-weight: bold;
	color: #006600;


}
.SPCbody a:visited {
	text-decoration: underline;
	font-weight: bold;
	color: #006600;


}
.SPCbody a:hover {
	font-weight: bold;
	color: #006600;
	text-decoration: underline;
}

.RelOrglogo {
	border: thin solid #999999;
}
.RelOrglogo a:link {
	border: thin solid #999999;
}
.RelOrglogo a:hover {
	border: thin solid #999999;
}
.RelOrglogo a:visited {
	border: thin solid #999999;
}

.RelOrgbody a:link {
	text-decoration: underline;
	font-weight: bold;
	color: #999999;


}
.RelOrgbody a:visited {
	text-decoration: underline;
	font-weight: bold;
	color: #999999;


}
.RelOrgbody a:hover {
	font-weight: bold;
	color: #999999;
	text-decoration: underline;
}

.RelOrgbody{
	font : bold normal 1.22em/normal Verdana, Arial, Helvetica, sans-serif;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #999999;

}
.RelOrgtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.67em;
	font-weight: normal;
	color: #999999;
}
.PR-About {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.42em;
	font-style: normal;
	font-weight: bold;
	color: #333333;
}
.PR-Lead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.67em;
	font-weight: bold;
	color: #666666;
}
.PR-Title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 2em;
	color: #999999;
}
.PR-Subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #333333;
}
.PR-Heading3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.22em;
	font-weight: bold;
	color: #333333;
}
.PR-Quotename {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-style: italic;
	font-weight: bold;
}
.PR-commQuote {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-style: italic;
	color: #333333;
}
.PR-Bodytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333333;
}
.PR-contact {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.6em;
	color: #333333;
	font-weight: normal;
}
.PR-contacts {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	color: #FF9900;
}
.PR-contact a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	text-decoration: underline;
}
.PR-contact a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
	text-decoration: underline;
}
.PR-contact a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FF6600;
	text-decoration: underline;
}
.gen-Title-orange1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 2.0em;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FF6600;
	text-decoration: none;
}
.gen-Title-orange2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FF6600;
	text-decoration: none;
}
.gen-Title-grey1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 2.0em;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: none;
}
.gen-Title-grey2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: none;
}
.gen-Title-grey3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #666666;
	text-decoration: none;
}
.gen-Title-black4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.22em;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #333333;
	text-decoration: none;
}
.gen-Title-black5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #333333;
	text-decoration: none;
}
.gen-Body-fat {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #333333;
	text-decoration: none;
}
.gen-Title-lightorange1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 2em;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FF9900;
	text-decoration: none;
}
.gen-Title-orange3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FF6600;
	text-decoration: none;
}
.gen-Title-lightorange2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FF9900;
	text-decoration: none;
}
.gen-Title-lightorange3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #FF9900;
	text-decoration: none;
}

.TableCaption {
	font : bold normal 1em/normal Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	height : auto;
	letter-spacing : normal;
	text-align : left;
	text-decoration : none;
	text-indent : 0px;
	text-transform : none;
	vertical-align : baseline;
	white-space : normal;
	width : auto;
	word-spacing : normal;
	color: #666666;

}